*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /* ===== Colors ===== */
    --primary-color: #7E47C3;
    --text-color: #F5F5F5;
    --text-color-light: #b3a2e6;
    --text-color-violet:#7E47C3;
    --text-color-violet-light:#C1A6EA;
    --text-bold:#4E5D78;
}
body,
html {
    overflow-x: hidden;
    background-color:#ffff;
}
.way{
    max-width: 1336px;
    width: 100%;
    margin: 0 auto;
}


/* ---HEADER--- */
.header{
    height: 693px;
    width: 100%;
}   
.menu{
    padding-left: 100px;
    padding-top: 30px;
    display: flex;
    align-items: center;
}
.menu-item{
    display: flex;
    padding-right: 30px;
    margin-left: auto;
    align-items: center;
    color: var(--text-color);
}
.menu-item li{
    margin: 0 20px;
    cursor: pointer;
    position: relative;
}
.menu-item li img{
    position: absolute;
    left: 180px;
    top: 17px;
}
.menu-item .item1{
    color:var(--text-color-light);
}
.menu-item li input{
    background:#9D6ED9 ;
    outline: none;
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
    color: #e6d8fc;
    background-image: url(../img/icon-search\ 1.png);
    background-repeat: no-repeat;
    background-position: 15px;
    text-indent: 22px;
}
.menu-item li input:after{
    content : url(../img/Icon\ awesome-angle-right.png) no-repeat;    
}
::placeholder {
    color:#e6d8fc;
}
.menu-item .item3{
    padding: 15px 20px;
    background-color: var(--primary-color);
    border-radius: 10px;
}
.menu-item .item3 a{
    color: var( --text-color);
    text-decoration: none;
}

.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content .contentA{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 185px;
    padding-top: 160px;
}

.content .contentA .title{
    color:var(--text-color) ;
    padding-bottom: 120px;
}
.content .contentA .title .img{
    padding-top: 30px;
}
.content .contentA .btn{
    color:var(--text-color) ;
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
}
.content .contentA .btn button{
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
    background-color: var(--text-color-light);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    margin: 5px 0;
    border-radius: 20px;
    cursor: pointer;
}
.content .contentB{
    margin-left: 220px;
}
.header .header-s{
    position: relative;
}
.header .lines{
    color: var(--text-color);
    width: 260px;
    border-bottom: 1px solid rgb(139, 139, 139);
    position: absolute;
    top: 700px;
    left: -60px;
    transform: rotate(90deg);
}
/* ---END HEADER--- */



/* PICKUP */
.pick{
    padding: 115px 0 0 161px;
    max-width: 1336px;
    width: 100%;
    margin: 0 auto;
}
.pickup{
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}
.pickup img{
    margin-right: 20px;
}
.pickupB{
    display: flex;
}
.model{
    width: 220px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-right: 20px;
}
.model .model-img{
    padding-top: 112px;
    width: 220px;
    height: 0;
}
.model-content .model-content_item{
    padding: 10px 15px;
}
.model-content .model-content_item .text-title{
    font-size: 14px;
    padding: 10px 0;
    color:var( --text-bold) ;
    font-weight: 600;
}
.model-content .model-content_item button{
    padding: 2px 17px;
    margin: 15px 0;
    border-radius: 5px;
    background-color: var(--primary-color);
    border: none;
    color: var(--text-color);
    cursor: pointer;
}
.model-content .model-content_item .text-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}
.model-content .model-content_item .text-content p{
    color: var(--text-color-light);
}
.model-content .model-content_item .text-content .price{
    color: var(--text-bold);
    font-weight: 600;
}
/* END-PICKUP */


/* SEARCH */
.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1336px;
    width: 100%;
    margin: 0 auto;
    padding: 100px 0 0 190px;
}
.searchA{
    width: 50%;
}
.searchA .icon{
    display: flex;
    align-items: center;
}
.searchA .icon img{
    margin-right: 12px;
}
.searchA .icon p{
    color:var(--text-bold);
    font-weight: 600;
}
.searchA .tag{
    margin-top: 30px;
}
.searchA .tag button{
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    margin-right: 10px;
    margin-bottom: 12px;
    color: var(--text-color-violet);
    cursor: pointer;
}
.searchB{
    width: 50%;
    display: flex;
    justify-content: center;
}
/* END_SEARCH */


/* PROMOTION */
.promotion{
    max-width: 1336px;
    width: 100%;
    margin: 0 auto;
    padding: 93px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.promotionA{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 50%;
    padding-left: 161px;
}
.promotionA .icon img{
    margin-right: 10px;
}
.promotionA .promotionA-text{
    padding-right:100px ;
}
.promotionA .promotionA-text .pro-ytu{
    color: var( --text-color-violet-light);
    font-weight: 200;
    margin-top: 10px;
}
.promotionA .promotionA-text .ytu{
    color: var(--text-color-violet);
    font-size: 26px;
    font-weight: 600;
    margin-top: 15px;
}
.promotionA .promotionA-text .small{
    margin-top: 20px;
    color: var( --text-color-violet-light);
}

.promotionB{
    display: flex;
    align-items: center;
    width: 50%;
}
.promotionB .promotionB-item{
    padding: 15px;
    text-align: center;
    border-radius: 20px;
    margin-left: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    position: relative;
}
.promotionB .promotionB-item p{
    margin-top: 16px;
    margin-bottom: 22px;
    color:var(--text-bold);
    font-weight: 600;
}
.note{
    position: absolute;
    width: 292px;
    height: 56px;
    background-color: #FFFFFF;
    bottom: -124px;
    left: 0;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 19px 38px rgba(49, 49, 49, 0.3), 0 15px 12px rgba(61, 60, 60, 0.22);
    color: var(--text-color-light);
}
.note::after{
    content: "";
    border-width: 18px;
    border-style: solid;
    border-color: transparent transparent #FFFFFF transparent;
    position: absolute;
    right: 125px;
    top:-36px;
}
/* END-PROMOTION */

/* PAYMENT */
.payment{
    max-width: 1336px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 67px;
    margin-top: 30px;
}
.paymentA{
    padding-left: 255px;
    width: 50%;
}
.paymentB{
    padding: 0 240px 0 118px;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.paymentB .icon{
    margin-right: 12px;
}
.paymentB .paymentB-text .prompt{
    color: var(--text-color-violet-light);
    font-size: 16px;
    margin-top: 5px;
}
.paymentB .paymentB-text .bank{
    font-size: 26px;
    color: var(--text-color-violet);
    font-weight: 500;
    margin-top: 20px;
}
.paymentB .paymentB-text .bank span{
    font-size: 12px;
    color: var(--text-color-violet);
}
.paymentB .paymentB-text .bank_note{
    margin-top: 30px;
    color: var(--text-color-light);
}
/* END-PAYMENT */

/* LUNK */
.lunk{
    max-width: 1336px;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
}
.icon-center{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}
.center .smal{ 
    font-size: 14px;
    color: var(--text-color-light);
}
.center .strong{
    font-size: 26px;
    color: var(--text-color-violet);
    margin-top: 5px;
    font-weight: 550;
}


.lunk-bg{
    margin-top: 20px;
    height: 500px;
}
.lunk-bg_model{
    position: relative;
    display: flex;
}
.lunk-bg_model .img{
    position: relative;
    top:-60px;
    left: 160px;
    width: 40%;
}
.lunk-bg_model .content-lunk{
    width: 60%;
    padding-left: 20px;
    z-index: 99;
}

/* tab */

.page-content {
	max-width: 700px; 
    margin-top: 30px;
}
a {
	color: #21D4FD; 
	transition: all 0.3s;
}

.tabbed {
	overflow-x: hidden; /* so we could easily hide the radio inputs */
	padding-bottom: 16px;
}

.tabbed [type="radio"] {
	/* hiding the inputs */
	display: none;
}

.tabs {
	display: flex;
	align-items: stretch;
	list-style: none;
}
.tab > label {
	display: block;
	margin-bottom: -1px;
	padding: 12px 15px;
	border: 1px solid #ccc;
	background: #eee;
	font-size: 16px; 
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;	
	transition: all 0.3s;
    border-radius: 20px 20px 0 0;
    outline: none;
    border: none;
    padding: 20px 120px;
    color: var(--text-color-violet);
}
.tab:hover label {
    color: var(--text-color-violet);
}

.tab-content {
	display: none;
	color: #777;
    background-color: #FFFFFF;
    padding: 30px 59px;
    border-radius:0 0 20px 20px;
    max-width: 582px;
    width: 100%;
}
.tab-content .tab-content_item{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.tab-content .tab-content_item .icon{
    margin-right: 20px;
}
.tab-content .tab-content_item .text{
    color:var(--text-color-violet-light);
    font-size: 12px;
}
.tab-content .tab-content_item .text strong{
    font-size: 16px;
    color: var(--text-color-violet);
}
.tab-content .tab-content_item .text p{
    margin-top: 8px;
}
/* As we cannot replace the numbers with variables or calls to element properties, the number of this selector parts is our tab count limit */
.tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label,
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label,
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) label,
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tabs .tab:nth-of-type(4) label,
.tabbed [type="radio"]:nth-of-type(5):checked ~ .tabs .tab:nth-of-type(5) label {
	border-bottom-color: #fff;
	border-top-color: #B721FF;
	background: #fff;
	color: var(--text-color-violet);
}

.tabbed [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3),
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tab-content:nth-of-type(4) {
	display: block;
}
/* endtab */

/* END-LUNK */


/* FOOTER */
.footer{
    margin-top: 82px;
}
.footerA{
    display: flex;
    justify-content: space-around;
    padding-left: 40px;
}
.footerA .footerA-left{
    margin-top: 100px;
    z-index: 99;
}
.footerA .footerA-left span{
    margin-top: 50px;
    font-size: 14px;
}
.footerA .footerA-left .image{
    margin-top: 20px;
}
.footerA .footerA-left button{
    margin-top: 60px;
    display: flex;
    align-items: center;
    border-radius: 22px;
    border: none;
    outline: none;
    padding: 10px 40px;
    cursor: pointer;
}
.footerA .footerA-left button p{
    margin-right: 20px;
    color: var(--text-color-violet);
    font-weight: 550;
}
.footerB{
    width: 100%;
    height: 705px;
    margin-top:-268px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.footerB .main{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}
.footerB .main .main-logo{
    z-index: 9;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerB .main .main-menu{
    display: flex;
    margin-top: 100px;
}
.footerB .main .main-menu .menu-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 70px;
}
.footerB .main .main-menu .menu-item p{
    margin-top: 25px;
}
.footerB .main .main-menu .menu-item strong{
    font-size: 21px;
}
.footerB .extra{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
    border-top: 1px solid rgb(194, 194, 194);
    padding: 20px 0;
}
/* END-FOOTER */



/* REPONSIVE */
@media (max-width:1200px){
    .paymentB{
        padding: 0 40px 0 20px;
    }
    .lunk-bg_model{
        gap: 60px;
        margin-top: 60px;
    }
    .header .lines{
        display: none;
    }
}


@media (max-width:1000px){
    .menu-item .item1{
        display: none;
    }
    .search{
        flex-direction: column;
    }
    .payment{
        flex-direction: column;
    }
    .payment .paymentB{
        padding: 0 140px;
        text-align: center;
    }
    .lunk .icon-center{
        margin-bottom: 70px;
    }
    .lunk-bg_model{
        flex-direction: column-reverse;
    }
    .content-lunk{
        margin: 0 auto;
    }
    .footerA .footerA-right{
        display: none;
    }
    .footerA{
        flex-direction: column;
    }
    .footerA-left{
        margin-top: 580px !important;
        margin-bottom: 300px !important;
        margin: 0 auto;
    }
    .lunk-bg_model .img{
        padding: 0 !important;
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width:780px){
    .header{
        height:1300px;
    }
    .menu{
        justify-content: space-between;
    }
    .menu-item input{
        display: none;
    }
    .content{
        flex-direction: column;
    }
    .content .contentA{
       margin: 0;
       padding: 0;
       margin-top: 100px;
    }
    .content .contentA .btn{
        padding: 0;
    }
    .content .contentB{
        padding: 0;
        margin-left: 120px;
        margin-top: 120px;
    }
    .search{
        padding: 0;
        margin-top: 100px;
    }
    .searchB{
        padding: 0;
        margin: 0 auto;   
    }
    .promotion{
        flex-direction: column;
    }
    .promotion .promotionA{
        padding: 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .promotion .promotionA .promotionA-text{
        padding: 0;
    }
    .promotion .promotionB{
        margin-top: 50px;
    }
    .promotion .promotionB .promotionB-item .note{
        display: none;
    }
    .payment{
        margin-top: 50px;
        flex-direction: column-reverse;
    }
    .payment .paymentA{
        margin-top: 50px;
    }
    .payment .paymentB{
        margin: 0;
        padding: 0 70px;
        flex-direction: column;
        text-align: center;
    }
    .tabs .tab > label{
        padding: 20px 101px;
        display: flex;
        flex-wrap: nowrap;
    }
    .main{
        margin-top: 170px;
        flex-direction: column;
    }
    .menu-item{
        margin: 0 !important;
        display: flex;
        justify-content: space-between;
    }
    .menu-item li img{
        display: none;
    }
}
@media (max-width:645px) {
    .contentB{
        padding-left: 170px !important;
    }
    .paymentA{
        padding: 0 !important;
        margin: 0 auto;
    }
    .promotionB{
        width: auto;
        margin: 0 auto;
    }
}
@media (max-width:576px){
    .content .btn{
        margin: 0 auto;
    }
    .footerA-left{
        margin-top: 650px !important;
    }
    .main-menu{
        padding: 0 20px;
        flex-wrap: wrap;
    }
}
@media (max-width:505px){
    .lunk-bg_model .img{
        margin-left: -50px;
    }
    .main-menu{
        display: flex;
        justify-content: center;
    }
    .pick{
        padding-left: 60px;
    }
}
@media (max-width:485px) {
    .menu{
        padding: 10px 30px;
        margin: 0;
    }
    .menu .menu-item{
        padding: 0 !important;
    }
    .lunk-bg_model .img{
        margin-left: -90px;
    }
    .main-menu{
        display: flex;
        justify-content: center;
    }
    .footerA{
        margin-top: 150px;
    }
    .pick{
        padding-left: 40px;
    }
    .tab-content{
        padding: 0 !important;
    }
}

@media (max-width:375px){
    .menu .menu-item{
        padding: 0 !important;
    }
    .menu-item .item2{
        margin: 0;
    }
    .menu-item .item3{
        margin: 0 0 0 10px;
        font-size: 10px;
    }
    .content .contentA .title{
        text-align: center;
        font-size: 13px;
    }
    .content .contentA .btn button{
        width: 290px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .content .contentB img{
        width: 600px;
        height: 400px;
    }
    .payment .paymentA{
        display: flex;
        justify-content: center;
    }
    .promotionB img{
        width: 300px;
        height: 200px;
    }
    .lunk-bg_model .img{
        margin-left: -140px;
    }
    .search .searchB{
        display: none;
    }
    .footerA-left{
        margin-top: 450px !important;
    }
}